@import "config";
@import "mixins";

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}

.top-btn {
  position: fixed;
  bottom: 10px;
  right: 30px;
  opacity: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $blue-color;
  color: white;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.7s all ease-in-out;
  pointer-events: none;

  &:hover {
    transition: 0.35s all ease;
    background-color: darken($blue-color, 20%);
  }
  svg {
    transform: rotate(-45deg);
  }
}

.show {
  transition: 0.7s all ease-in-out;
  bottom: 40px;
  opacity: 1;
  pointer-events: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn__primary {
  @include textStyling(14px, 400, 14px);
  color: white;
  background-color: $blue-color;
  border-radius: 4px;
  transition: 0.35s ease-in;

  &:hover {
    background-color: darken($blue-color, 20%);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: transparent;
  transition: 0.5s all ease-in;

  .nav {
    @include displayFlex(row, space-between, center);
    margin: 15px 0;

    .logo__text {
      font-size: 26px;
      cursor: pointer;
      color: darken($blue-color, 20%);

      &:hover,
      &:focus {
        transition: 0.35s all ease-in;
        color: lighten($blue-color, 20%);
      }
    }

    .btn__primary {
      padding: 10px 20px;
    }

    &__links {
      @include displayFlex(row, space-between, center);
      @include textStyling(14px, 600, 14px);
      gap: 8px;
      color: $navbar-text-color;
      transition: 0.35s ease-in;

      &:hover,
      &:focus {
        color: darken($navbar-text-color, 20%);
        path {
          fill: darken($navbar-text-color, 20%);
        }
      }

      path {
        transition: 0.35s ease-in;
        fill: $navbar-text-color;
      }
    }

    ul {
      @include displayFlex(row, space-between, center);
      gap: 50px;
    }
  }
}

// Hamburger menu styles
.hamburger-menu {
  cursor: pointer;
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  transition: 0.5s ease-in-out;
  z-index: 2;

  &.open .line {
    background: transparent;
  }

  &.open .line::before {
    transform: rotate(45deg);
    background-color: white;
  }

  &.open .line::after {
    transform: rotate(-45deg);
    background-color: white;
  }

  .line {
    width: 30px;
    height: 3px;
    background-color: $blue-color;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
  }

  .line::before,
  .line::after {
    content: "";
    position: absolute;
    @extend .line;
    transition: 0.5s ease-in-out;
  }

  .line::before {
    transform: translateY(-10px);
  }

  .line::after {
    transform: translateY(10px);
  }
}

.section__hero {
  background-color: rgba(251, 241, 234, 0.5);

  height: 100vh;
  @include displayFlex(column, center, center);

  // text-align: center;

  .hero {
    &__text {
      @include displayFlex(column, center, center);
      padding: 100px 0 130px 0;

      h1 {
        @include textStyling(48px, 700, 62px);
        color: $primary-color;
        // max-width: 380px;
        max-width: fit-content;
      }

      p {
        @include textStyling(14px, 400, 24px);
        color: $secondary-color;
        padding: 15px 0 62px 0;
      }
    }

    &__btns {
      @include displayFlex(row, flex-start, center);
      gap: 20px;
      .btn__secondary {
        @include textStyling(14px, 400, 14px);
        color: $blue-color;
        padding: 13px 27px;
        transition: 0.55s ease-in;
        border-radius: 4px;
        &:hover {
          background-color: $blue-color;
          color: white;
        }
      }

      .btn__primary {
        padding: 11px 25px;
        display: flex;
        align-items: center;
        gap: 7px;
      }
    }

    &__bottom {
      @include displayFlex(column, center, center);
      gap: 25px;
      position: relative;
      z-index: 1;

      h4 {
        @include textStyling(14px, 400, 24px);
        color: $secondary-color;
        text-transform: uppercase;
      }

      .hero__items {
        @include displayFlex(row, center, center);
        gap: 80px;

        .item {
          @include displayFlex(column, center, flex-start);
          gap: 12px;

          &__heading {
            @include textStyling(36px, 400, 36px);
            color: $primary-color;
          }

          &__text {
            @include textStyling(14px, 400, 14px);
            color: $navbar-text-color;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.steps {
  @include displayFlex(row, center, center);
  flex-wrap: wrap;
  gap: 21px;
  row-gap: 50px;
  &__item {
    @include displayFlex(column, center, flex-start);
    gap: 16px;
    max-width: 346px;
    max-height: 352px;
    border: 1px solid #efeff4;
    border-radius: 8px;
    padding: 60px 40px;

    &:hover,
    &:focus {
      border: 1px solid white;
      transition: 0.35s all ease-in;

      .steps__icon {
        transition: 0.35s all ease-in;
        box-shadow: 0px 6px 15px rgba(35, 36, 39, 0.1);
      }
    }
  }

  &__icon {
    padding: 21px;
    border: 1px solid lighten($blue-color, 40%);
    border-radius: 50%;
    max-width: 77px;
    max-height: 77px;

    img {
      width: 35px;
      height: 35px;
    }
  }

  &__text {
    max-width: 346px;
    max-height: 352px;
    align-self: center;
    p {
      padding-top: 15px;
      width: 85%;
    }
  }

  h2 {
    @include textStyling(36px, 700, 44px);
    color: $primary-color;
  }

  h3 {
    @include textStyling(18px, 800, 18px);
    color: $primary-color;
  }

  p {
    @include textStyling(14px, 400, 24px);
    color: $secondary-color;
  }
}

.section__trust {
  background-color: rgba(241, 238, 250, 0.4);

  .trust {
    @include displayFlex(column, space-between, center);
    padding: 50px 0;

    &__heading {
      @include textStyling(28px, 700, 28px);
      color: $primary-color;
      padding-bottom: 46px;
    }

    &__items {
      @include displayFlex(row, center, center);
      flex-wrap: wrap;
      gap: 40px;
      column-gap: 69px;
    }

    &__icon {
      img {
        width: auto;
      }
    }
  }
}

.section__backing {
  .backing {
    &__text {
      margin: 32px 0 45px 0;
      text-align: center;
      h2 {
        @include textStyling(36px, 700, 44px);
        color: $primary-color;
        padding-bottom: 15px;
      }

      p {
        @include textStyling(14px, 400, 24px);
        color: $navbar-text-color;
      }
    }

    &__items {
      @include displayFlex(row, center, center);
      gap: 20px;
      row-gap: 30px;
      flex-wrap: wrap;
    }

    &__links {
      @include displayFlex(row, flex-start, center);
      gap: 10px;
    }

    &__item {
      width: 255px;
      height: 217px;
      padding: 20px 20px 15px 20px;
      border-radius: 4px;
      box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(8) {
        background: rgba(229, 229, 229, 0.25);
      }

      img {
        max-width: 215px;
        max-height: 122px;
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }

      svg {
        width: 20px;
      }

      svg:hover,
      svg:focus {
        cursor: pointer;
        path {
          transition: all 0.35s ease-in;
          fill: $blue-color;
        }
      }

      h3 {
        @include textStyling(16px, 700, 16px);
        color: $primary-color;
        padding: 13px 0 7px 0;
      }
    }
  }
}

footer {
  background-color: $primary-color;
  width: 100%;
  .footer {
    @include displayFlex(row, space-between, center);
    padding: 97px 0 89px 0;

    &__left {
      height: 228px;
      max-width: 33%;
      @include displayFlex(column, space-between, flex-start);
    }

    &__logo {
      @include textStyling(18px, 600, 18px);
      color: white;
    }

    &__signature {
      @include textStyling(14px, 400, 20px);
      color: #d6d5df;
      max-width: 180px;
      margin-top: auto;
      bottom: 0;
    }

    &__links {
      @include displayFlex(row, flex-start, center);
      gap: 30px;
      .footer__link {
        @include displayFlex(row, center, center);
        width: 50px;
        height: 50px;
        padding: 15px;
        background-color: $navbar-text-color;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
          transition: all 0.35s ease-in;
          background-color: lighten($blue-color, 10%);
          // background-color: lighten($navbar-text-color, 10%);

          path {
            transition: all 0.35s ease-in;
            fill: darken(white, 10%);
          }
        }

        svg:nth-child(3) {
          width: 26px;
        }
      }
    }

    p {
      @include textStyling(14px, 400, 24px);
      color: white;
      margin-top: 20px;
    }

    &__right {
      max-width: 344px;
      width: 100%;

      form {
        @include displayFlex(row, center, center);
        position: relative;

        input {
          padding: 21px 20px;
          border-radius: 4px;
          flex-grow: 2;
          border: none;

          &:focus {
            outline: none;
          }

          &::placeholder {
            @include textStyling(14px, 500, 14px);
            color: $secondary-color;
          }
        }

        button {
          background-color: $blue-color;
          padding: 9px 11px;
          border-radius: 4px;
          border: none;
          position: absolute;
          right: 10px;

          &:hover,
          &:focus {
            path {
              transition: 0.3s all ease-in;
              fill: darken(white, 10%);
            }
            transition: 0.3s all ease-in;
            cursor: pointer;
            background-color: darken($blue-color, 10%);
          }
        }
      }

      h3 {
        @include textStyling(16px, 500, 16px);
        color: white;
        padding-bottom: 12px;
      }

      p {
        @include textStyling(14px, 300, 24px);
        color: white;
        margin: 10px 0 34px 0;
      }
    }
  }
}

@import "mobile";
